<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Job Opportunity</title>
    <style>
        h1 {
            font-weight: bolder;
            color: rgba(.1,.1,.1,1);
            font-size: 1.6rem;

        }

        p {

            font-size: 1rem;
        }
        span {
            font-size: 1.1rem;
        }
        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body style="background-color: #edf1fc;">
<h1>Bonjour,</h1>

<p>Je m'appelle <span class="bold"> Bejaoui </span> Ahmed Bayrem, et je vous écris avec une candidature spontanée pour le poste d'ingénieur logiciel junior chez <span class="bold" th:text="${enterpriseName}"></span>. En tant que <span class="bold">développeur Full Stack</span>, bientôt diplômé <spa class="bold"> d'ESPRIT</spa>, et compétent en <span class="bold">React.js, Spring Boot, l'orchestration de conteneurs, et l'infrastructure cloud,</span> je suis enthousiaste à l'idée de contribuer à votre organisation dynamique.</p>

<p>J'ai suivi le succès d'<span class="bold" th:text="${enterpriseName}"></span> et je suis impressionné par votre engagement envers l'innovation et l'excellence dans le domaine de l'Ingénierie. Mon expertise en développement logiciel me permet de créer des interfaces utilisateur intuitives et de construire des systèmes back-end efficaces. Je possède de solides compétences en orchestration de conteneurs, assurant un déploiement et une évolutivité sans faille, ainsi qu'une compréhension approfondie de l'infrastructure et de l'architecture Cloud.</p>

<p>Avec une base solide dans les méthodologies de développement de logiciels, les structures de données et les algorithmes, je fournis un code de haute qualité qui répond aux exigences de l'entreprise. Une communication et une collaboration efficaces sont des atouts majeurs, qui me permettent de m'engager avec des parties prenantes techniques et non techniques.</p>

<p>Vous trouverez dans le CV ci-joint un aperçu complet de ma formation et de mes expériences pertinentes.</p>

<p>J'apprécierais d'avoir l'occasion de discuter plus en détail de la manière dont mes compétences correspondent aux exigences d'<span class="bold" th:text="${enterpriseName}"></span>. N'hésitez pas à me contacter par courriel à l'adresse ahmedbayrem.bjaoui1@esprit.tn ou par téléphone au +216 58 473 343 pour planifier un entretien.</p>

<p>Je vous prie d'agréer, Madame, Monsieur, l'expression de mes salutations distinguées,</p>

<p>Bejaoui Ahmed Bayrem</p>

<p>Courriel: ahmedbayrem.bjaoui1@esprit.tn</p>
<p>Téléphone: +216 58 473 343</p>
</body>
</html>
